default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1

production:
  <<: *default
  recurring_tasks:
    - key: apply_price_updates
      class_name: ApplyPriceUpdatesJob
      schedule: every day at midnight

development:
  <<: *default
  recurring_tasks:
    - key: apply_price_updates
      class_name: ApplyPriceUpdatesJob
      schedule: every day at midnight
