production:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1
  recurring_tasks:
    apply_price_updates:
      class: ApplyPriceUpdatesJob
      schedule: every day at midnight

development:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1
  recurring_tasks:
    apply_price_updates:
      class: ApplyPriceUpdatesJob
      schedule: every day at midnight
