production:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1
  recurring:
    apply_price_updates:
      class: ApplyPriceUpdatesJob
      schedule: "0 0 * * *" # Run daily at midnight

development:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1
  recurring:
    apply_price_updates:
      class: ApplyPriceUpdatesJob
      schedule: "0 0 * * *" # Run daily at midnight
